body{
    background: #181511;
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.container{
    width: 80%;
    margin: auto;
}
header{
    margin: 15px 0;
}
footer{
    margin-top: 125px;
}

/* header */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.bars{
    display: none;
}
.bars div{
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: white;
}
.list ul{
    display: flex;
    gap: 50px;
}
.list h1{
    color: #FFAE2B;
    font-weight: lighter;
}
.list ul li a{
    text-transform: uppercase;
    color: #ACA592;
    font-size: 12px;
}
.active{
    color: #FFAE2B
    !important;
}
.navbar button{
    width: 150px;
    padding: 15px 0;
    background: none;
    border: 1px solid #FFAE2B;
    text-transform: uppercase;
    color: #FFAE2B;
}

/* MAIN */
.banner{
    background: url(../assets/images/IMAGEsuka.png)center/cover;
    width: 100%;
    height: 80vh;
}
.banner_content{
    text-align: center;
    padding-top: 150px;
}
.banner_content p{
    color: #FFAE2B;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 3px;
}
.banner_content h1{
    color: white;
    font-size: 70px;
    font-weight: lighter;
    letter-spacing: 3px;
}
.banner_content button{
    text-transform: uppercase;
    font-weight: lighter;
    padding: 20px 0;
    width: 150px;
    background-color: #FFAE2B;
    border: 0;
    margin-top: 50px;
}

/* pages */
.pages{
    margin-top: 120px;
}
.pages_title{
    text-align: center;
}
.pages_title p{
    text-transform: uppercase;
    color: #ACA592;
    font-weight: lighter;
}
.pages_title h1{
    color: #FFAE2B;
    font-size: 70px;
    font-weight: lighter;
}

.row_pages{
    margin-top: 60px;
    display: flex;
    gap: 30px;
    overflow-x: scroll;
}
.row_pages::-webkit-scrollbar{
    display: none;
}
.pages_card{
    border: 1px solid #4B4136;
    width: 30%;
    text-align: center;
    height: 300px;
    cursor: pointer;
    box-shadow: 0 0 10px #4B4136;
}
.pages_card p{
    color: #ACA592;
    text-transform: uppercase;
    margin-top: 0;
}

/* banner bottom */
.banner_bottom{
    background: url(../assets/images/IMAGEbannerone.png)center/cover;
    width: 100%;
    height: 60vh;
    margin-top: 100px;
}

/* Services */
.services{
    margin-top: 120px;
}
.services_title{
    text-align: center;
}
.services_title p{
    color: #ACA592;
    text-transform: uppercase;
    font-weight: lighter;
}
.services_title h1{
    color: #FFAE2B;
    font-size: 70px;
    font-weight: lighter;
}
.row_services{
    margin-top: 60px;
    display: flex;
}

.service_card{
    width: 33%;
    border: 1px solid #4B4136;
    box-shadow: 0 0 10px #4B4136;
    height: 350px;
}
.service_card_content{
    margin-left: 70px;
    margin-top: 60px;
}
.service_card_content img{
    width: 80px;
}
.service_card_content h2{
    margin-top: 15px;
    color: #FFAE2B;
    font-weight: lighter;
    font-size: 25px;
}
.service_card_content p{
    color: #ACA592;
    font-weight: lighter;
    margin-right: 150px;
    font-size: 15px;
    line-height: 2;
}

/* social */
.row_social{
    margin-top: 140px;
    display: flex;
}
.social_card{
    width: 20%;
    height: 240px;
    position: relative;
}
.card1{
    background: url(../assets/images/IMAGEnnnn.png)center/cover;
}
.card2{
    background: url(../assets/images/IMAGEmmmm.png) center/cover;
}
.card3{
    background: url(../assets/images/IMAGEvvvv.png) center/cover;
}
.card4{
    background: url(../assets/images/IMAGEcccccc.png) center/cover;
}
.card0{
    background: url(../assets/images/Frame\ \(2\).png) center/cover;
}
.social_card img{
    position: absolute;
    top: -10%;
    left: 45%;
}

/* FOOOTER */
.foot_text{
    text-align: center;
}
.foot_text h1{
    color: #FFAE2B;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
}
.foot_text p{
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    color: #ACA592;
}
.foot_buton{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.foot_buton button{
    width: 420px;
    height: 50px;
}
.btn1{
    background-color: #181511;
    color: #FFAE2B;
}
.btn2{
    background-color: #FFAE2B;
    color: #181511;
}
.internet{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.footend{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footend_text{
    display: flex;
    align-items: center;
}
.footend_text h3{
    font-weight: 400;
    font-size: 24px;
    color: #ACA592;
}
.footend_text h2{
    font-weight: 400;
    font-size: 24px;
    color: #FFAE2B;
}

.footend_list ul{
    display: flex;
    gap: 10px;
}
.footend_list ul li a{
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: #FFAE2B;
}
.footbars{
    display: none;
}
.footbars div{
    width: 30px;
    height: 3px;
    margin: 4px 0;
    background-color: white;
}


/* MEDIA */

@media  screen and (max-width:1024px){
    .banner_content h1{
        font-size: 50px;
    }
    .pages_title h1{
        font-size: 50px;
    }
    .pages_card{
        width: 50%;
    }
    .services_title h1{
        font-size: 50px;
    }
    .row_services{
        flex-wrap: wrap;
    }
    .service_card{
        width: 49%;
    }
    .row_social{
        flex-wrap: wrap;
        gap: 20px;
    }
    .social_card{
        width: 48%;
    }
} 

@media screen and (max-width:768px){
    .list ul{
        display: none;
    }
    .navbar button{
        display: none;
    }
    .bars{
        display: block;
    }
    .banner{
        height: 60vh;
    }
    .banner_content h1{
        font-size: 35px;
    }
    .banner_content p{
        font-size: 12px;
    }
    .pages_title h1{
        font-size: 35px;
    }
    .pages_title p{
        font-size: 12px;
    }
    .pages_card{
        width: 100%;
    }
    .banner_bottom{
        height: 40vh;
    }
    .services_title h1{
        font-size: 35px;
    }
    .services_title p{
        font-size: 12px;
    }
    .service_card{
        width: 100%;
    }
    .foot_text h1{
        font-size: 35px;
    }
    .footend_list ul li a{
        font-size: 15px;
    }
    .footend_text h3{
        font-size: 20px;
    }
    .footend_text h2{
        font-size: 20px;
    }
}

@media screen and (max-width:425px) {
    .service_card_content p{
        margin-right: 50px;
    }
    .service_card_content{
        margin-left: 40px;
    }
    .social_card{
        width: 100%;
    }
    .footbars{
        display: block;
    }
    .footend_list ul{
        display: none;
    }
}

@media screen and (max-width:320px) {
   .container{
    width: 320px;
   }
}
